{% extends 'base.html' %}
{% load staticfiles %}
{% load cropping %}
{% load tour_tag %}
{% block header_css %}
{#    <link rel="stylesheet" href="{% static 'css/components/bs-filestyle.css' %}" type="text/css" />#}
    <link rel="stylesheet" href="{% static 'custom/dropzone/dropzone.css' %}" type="text/css" />
{% endblock %}
{% block header_style %}

{% endblock %}
{% block main_body %}
    <section id="page-title">
        <div class="container clearfix">
            <h1>照片上傳</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">首頁</a></li>
                <li class="breadcrumb-item"><a href="{% url 'album' %}">客戶案例</a></li>
                <li class="breadcrumb-item"><a href="{% url 'album_detail' obj_album.id  %}">{{ obj_album.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">照片上傳</li>
            </ol>
        </div>
    </section><!-- #page-title end -->
    <section>
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="col_full clearfix">
                    <form action="." class="dropzone" id="my-dropzone" enctype="multipart/form-data">
                        {% csrf_token %}
                    </form>
                    <a href="#" id="clear-all"  class="button button-border button-rounded button-fill button-amber">
                        <span>清除列表</span>
                    </a>
                    <a href="#" id="submit-all" class="button button-border button-rounded button-fill button-aqua">
                        <span>上傳</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer_script %}
    <script src="{% static 'custom/dropzone/dropzone.js' %}"></script>
    <script>
        Dropzone.options.myDropzone = {
            // Prevents Dropzone from uploading dropped files immediately
            paramName: "{{ post_form.photo.name }}",
            maxThumbnailFilesize: 40,
            parallelUploads: 100,
            autoProcessQueue: false,
            dictDefaultMessage: "請將照片拖拉至這裡或點擊上傳",
            queuecomplete : function(file, response){
                alert("上傳完成");
            },
            init: function () {
                var submitButton = document.querySelector("#submit-all")
                var clearButton = document.querySelector("#clear-all")
                myDropzone = this; // closure

                submitButton.addEventListener("click", function () {
                    myDropzone.processQueue(); // Tell Dropzone to process all queued files.
                });
                clearButton.addEventListener("click", function () {
                    myDropzone.removeAllFiles();
                });
            },
        };
    </script>
{% endblock %}
