<footer id="footer" class="dark" style="background-color:#3F3F3F; background-size: 100%;">
    <div class="container">
    </div>
    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container clearfix">
            <div class="col_half">
                <div class="copyrights-menu copyright-links clearfix">
                    <a href="{% url 'index' %}">回首頁</a>/
                    <a href="{% url 'tour'  %}"><div>嗨，想去哪玩</div></a>/
                    <a href="{% url 'shop'  %}"><div>最新行程</div></a>/
                    <a href="{% url 'index' %}#section-services">關於酷客</a>/
                    <a href="{% url 'index' %}#section-contact">找到酷客</a>/
                    <a href="{% url 'login' %}">員工登入</a>
                </div>
                Copyrights &copy; 2021 All Rights Reserved by COOLKERTOUR.
            </div>
        </div>
    </div><!-- #copyrights end -->
</footer><!-- #footer end -->
