{% extends 'base.html' %}
{% load staticfiles %}
{% load cropping %}
{% load tour_tag %}

{% block main_body %}
    {% include "cms/cms_bar.html" %}
    <section id="app">
        <div class="container">
            <form>
                <!----------------------------行程資料---------------------------->
                <h3>行程資料</h3>
                <div class="form-group row">
                    <label for="itemName" class="col-sm-2 col-form-label">行程名稱</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="itemName" placeholder="請輸入行程名稱">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="itemInclude" class="col-sm-2 col-form-label">團費包含</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="6" id="itemInclude"
                                  placeholder="1、【交通】車資及過路費用。&#13;&#10;2、【活動】表列行程。&#13;&#10;3、【餐食】表列行程。&#13;&#10;4、【保險】新台幣200萬旅行業責任意外險附加20萬意外醫療險。&#13;&#10;5、【其他】每人一瓶礦泉水、司機小費。"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="itemNotInclude" class="col-sm-2 col-form-label">團費不包含</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="6" id="itemNotInclude"
                                  placeholder="1、個人因素所產生之消費，如飲料、私人購物費…等。&#13;&#10;2、個人旅遊平安保險，依規定旅客若有個別需求，得自行投保旅行平安保險。&#13;&#10;3、本行程表上未註明之各項開銷，建議、自費或自由行程所衍生之任何費用。"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="itemInfo" class="col-sm-2 col-form-label">行程特色</label>
                    <div class="col-sm-12">
                        <textarea name="itemInfo"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="itemRemark" class="col-sm-2 col-form-label">出團備註</label>
                    <div class="col-sm-12">
                        <textarea name="itemRemark"></textarea>
                    </div>
                </div>
                <div class="line"></div>

                <!----------------------------行程組件---------------------------->
                <h3>行程組件</h3>
                <div id="daysBox">
                    <schedule-day-component v-for="schedule in schedulesList"
                                            :day="schedule.day"
                                            :day-dining="schedule.dayDining"
                                            :day-remark="schedule.dayRemark"
                                            :day-schedule-list="schedule.dayScheduleList"
                                            @edit="scheduleEditHandler"
                                            @del="scheduleDelHandler">
                    </schedule-day-component>
                </div>
                <!------------------------組件modal-------------------->
                <div class="modal fade scheduleModal">
                    <schedule-add-component
                            :editing-data="scheduleEditing"
                            @submit="scheduleAddHandler">
                    </schedule-add-component>
                </div>
                <div class="button button-3d button-rounded w-100 center" data-toggle="modal"
                     data-target=".scheduleModal"><i class="icon-map-marker2"></i>新增一天行程
                </div>
                <div class="line"></div>

                <!----------------------------行程金額---------------------------->
                <h3>出團日期與金額</h3>
                <!------------------------日期modal-------------------->
                <div class="modal fade dateModal">
                    <date-add-component
                            :editing-data="dateEditing"
                            @submit="dateAddHandler">
                    </date-add-component>
                </div>
                <div class="section topmargin-sm p-4">
                    <div class="container">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>編輯</th>
                                    <th>刪除</th>
                                    <th>上架日期</th>
                                    <th>截止日期</th>
                                    <th>出團日期</th>
                                    <th>大人(單)</th>
                                    <th>大人(雙)</th>
                                    <th>大人(三)</th>
                                    <th>大人(四)</th>
                                    <th>小孩(X)</th>
                                    <th>小孩(床)</th>
                                    <th>嬰兒</th>
                                    <th>人數</th>
                                    <th>備註</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr is="date-component"
                                    v-for="date in dateList"
                                    :date-data="date"
                                    @edit="dateEditHandler"
                                    @del="dateDelHandler"
                                ></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="button button-3d button-rounded w-100 center" data-toggle="modal"
                     data-target=".dateModal"><i class="icon-map-marker2"></i>新增出團日期
                </div>
                <div class="line"></div>

                <!----------------------------送出---------------------------->

            </form>
        </div>
    </section>
{% endblock %}
{% block footer_script %}
    <script>
        var data = {{  tourComponentList |safe  }}
            $(document).ready(function () {
                $('.js-example-basic-single').select2({
                    width: '80%',
                    tags: false,
                    tokenSeparators: [',', ' '],
                    data: data,
                    val: null,
                })
            });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js'></script>
    <script src="https://cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
    <!--Vue Component-->
    <script type="text/x-template" id="dateAddComponentHtml">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="modal-content border-0" style="background-color: white;">
                    <div class="modal-body">
                        <h4 class="mb-1"><span class="badge badge-pill badge-success">相關日期設定</span></h4>
                        <div class="form-group row">
                            <label for="openDate" class="col col-form-label">上架日期</label>
                            <div class="col">
                                <input type="date" class="form-control" id="openDate" v-model="dateData.dates.open">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="closeDate" class="col col-form-label">截止日期</label>
                            <div class="col">
                                <input type="date" class="form-control" id="closeDate" v-model="dateData.dates.close">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="outsetDate" class="col col-form-label">出團日期</label>
                            <div class="col">
                                <input type="date" class="form-control" id="outsetDate" v-model="dateData.dates.outset">
                            </div>
                        </div>
                        <h4 class="mb-1"><span class="badge badge-pill badge-success">房型金額設定</span></h4>
                        <div class="form-group row" v-for="priceSet in dateData.prices">
                            <label :for="priceSet.name" class="col col-form-label">[[priceSet.name]]</label>
                            <div class="col">
                                <input type="number" class="form-control" :id="priceSet.name"
                                       placeholder="請填寫金額，如未有此房型請留空。" v-model="priceSet.price">
                            </div>
                        </div>
                        <h4 class="mb-1"><span class="badge badge-pill badge-success">其他設定</span></h4>
                        <div class="form-group row">
                            <label for="outsetDate" class="col col-form-label">人數上限</label>
                            <div class="col">
                                <input type="number" class="form-control" id="outsetDate"
                                       v-model="dateData.infos.number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="outsetDate" class="col col-form-label">出團備註</label>
                            <div class="col">
                                <input type="text" class="form-control" id="outsetDate" v-model="dateData.infos.remark">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-top-0">
                        <button type="button" class="button button-3d button-pink button-rounded" data-dismiss="modal"
                                aria-hidden="true">
                            <i class="icon-trash2"></i>取消
                        </button>
                        <button type="button" class="button button-3d button-amber button-rounded" @click="dateClear">
                            <i class="icon-trash2"></i>清除
                        </button>
                        <button type="button" class="button button-3d button-rounded" @click="dateSubmit">
                            <i class="icon-ok"></i>確認
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="dateComponentHtml">
        <tr>
            <td class="p-0">
                <button type="button" class="button button-mini button-circle button-amber" @click="dateEdit">編輯
                </button>
            </td>
            <td class="p-0">
                <button type="button" class="button button-mini button-circle button-pink" @click="dateDel">刪除</button>
            </td>
            <td>[[ dateData.dates.open ]]</td>
            <td>[[ dateData.dates.close ]]</td>
            <td>[[ dateData.dates.outset ]]</td>
            <td v-for="price in dateData.prices">
                [[ price.price ? price.price : '-' ]]
            </td>
            <td>[[dateData.infos.number]]</td>
            <td>[[dateData.infos.remark]]</td>
        </tr>
    </script>
    <script type="text/x-template" id="scheduleAddComponentHtml">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="modal-content border-0" style="background-color: white;">
                    <div class="modal-body">
                        <h3 class="mb-1"><span class="badge badge-pill badge-success">行程</span></h3>
                        <select class="form-control js-example-basic-single" name="state"
                                id="scheduleSearch"></select>
                        <button class="btn btn-secondary col-sm-2" type="button" @click="scheduleAdd">
                            加入
                        </button>
                        <div class="alert alert-info mb-1" v-for="(daySchedule,index) in dayScheduleList">
                            <input :id="index" class="radio-style" name="radio-group-3" type="checkbox"
                                   v-model="daySchedule.show">
                            <label :for="index" class="radio-style-3-label" style="color:white">[[
                                daySchedule.name ]]</label>
                            <button type="button" class="close" @click="scheduleDel(index)">x
                            </button>
                        </div>
                        <h3 class="mb-1"><span class="badge badge-pill badge-success">備註</span></h3>
                        <div class="form-group row">
                            <label for="dayRemark" class="col-sm-2 col-form-label">備註</label>
                            <div class="col-sm-10">
                            <textarea v-model="dayRemark" class="form-control" rows="4" id="dayRemark"
                                      placeholder="08:00～08:10 台北車站南一門集合出發、帶著愉快的心情開啟宜花之旅
10:00~11:00 台泥DAKA
12:00~16:00 太魯閣國家公園
17:30 飯店CHECK IN
（途中將依實際狀況調整景點停留時間）"></textarea>
                            </div>
                        </div>
                        <h3 class="mb-1"><span class="badge badge-pill badge-success">用餐</span></h3>

                        <div class="form-group row">
                            <label for="dayBreakfast" class="col-sm-2 col-form-label">早餐</label>
                            <div class="col-sm-10">
                                <input v-model="dayDining.breakfast" type="text" class="form-control"
                                       id="dayBreakfast">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dayLunch" class="col-sm-2 col-form-label">中餐</label>
                            <div class="col-sm-10">
                                <input v-model="dayDining.lunch" type="text" class="form-control"
                                       id="dayLunch">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dayDinner" class="col-sm-2 col-form-label">晚餐</label>
                            <div class="col-sm-10">
                                <input v-model="dayDining.dinner" type="text" class="form-control"
                                       id="dayDinner">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dayHotel" class="col-sm-2 col-form-label">住宿</label>
                            <div class="col-sm-10">
                                <input v-model="dayDining.hotel" type="text" class="form-control"
                                       id="dayHotel"
                                       placeholder="松風文旅／煙波大飯店宜蘭館／ 或同級">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-top-0">
                        <button type="button" class="button button-3d button-pink button-rounded" data-dismiss="modal"
                                aria-hidden="true">
                            <i class="icon-trash2"></i>取消
                        </button>
                        <button type="button" class="button button-3d button-amber button-rounded"
                                @click="scheduleClear">
                            <i class="icon-trash2"></i>清除
                        </button>
                        <button type="button" class="button button-3d button-rounded" @click="scheduleSubmit">
                            <i class="icon-ok"></i>確認
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="scheduleDayComponentHtml">
        <div class="day-box section p-4">
            <div class="day-title">
                <div class="day-num">
                    [[ day ]]
                </div>
                <div class="day-trips">
                    <span class="day-trip" v-for="daySchedule in dayScheduleList">[[ daySchedule.name]]</span>
                </div>
            </div>
            <template v-for="daySchedule in dayScheduleList">
                <div class="day-body" v-if="daySchedule.show">
                    <div class="day-trip">
                        <div class="day-trip-img">
                            <img :src="daySchedule.banner" class="img-fluid w-100">
                        </div>
                        <div class="day-trip-info">
                            <div class="title">
                                [[ daySchedule.name ]]
                            </div>
                            <div class="content">
                                [[ daySchedule.description ]]
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <div class="day-footer">
                <div class="day-trip-notice" v-if="dayRemark">
                    <div class="fancy-title title-bottom-border title-center">
                        <h4><i class="icon-line-bell"></i>注意事項</h4>
                    </div>
                    <pre>[[dayRemark]]</pre>
                </div>
                <div class="day-trip-dining">
                    <div class="fancy-title title-bottom-border title-center">
                        <h4><i class="icon-food2"></i>住宿與用餐</h4>
                    </div>
                    <div class="dining-boxs">
                        <div class="dining-box">
                            <div class="dining-title">
                                <i class="fas fa-hamburger fa-fw" aria-hidden="true"></i>早餐：
                            </div>
                            <div class="dining-content">
                                [[dayDining.breakfast]]
                            </div>
                        </div>

                        <div class="dining-box">
                            <div class="dining-title">
                                <i class="fas fa-utensils fa-fw" aria-hidden="true"></i>中餐：
                            </div>
                            <div class="dining-content">
                                [[dayDining.lunch]]
                            </div>
                        </div>
                        <div class="dining-box">
                            <div class="dining-title">
                                <i class="fas fa-wine-glass-alt fa-fw" aria-hidden="true"></i>晚餐：
                            </div>
                            <div class="dining-content">
                                [[dayDining.dinner]]
                            </div>
                        </div>
                        <div class="dining-box">
                            <div class="dining-title">
                                <i class="fas fa-bed fa-fw" aria-hidden="true"></i>住宿：
                            </div>
                            <div class="dining-content">
                                [[dayDining.hotel]]
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="inline-button button button-mini button-circle button-amber w-25 mt-2"
                        @click="scheduleDayEdit">編輯
                </button>
                <button type="button" class="inline-button button button-mini button-circle button-pink w-25"
                        @click="scheduleDayDel">刪除
                </button>
            </div>
        </div>
    </script>
    <script>
        const scheduleOrgData = () => {
            return {
                day: '',
                dayScheduleList: [],
                dayDining: {
                    breakfast: '敬請自理',
                    lunch: '敬請自理',
                    dinner: '敬請自理',
                    hotel: ''
                },
                dayRemark: '',
            }
        };
        var scheduleAddComponent = {
            delimiters: ['[[', ']]'],
            data() {
                return scheduleOrgData();
            },
            props: ['editingData'],
            template: `#scheduleAddComponentHtml`,
            methods: {
                scheduleAdd() {
                    let schedule = $('#scheduleSearch').select2('data')[0];
                    let scheduleData = {
                        'id': schedule.id,
                        'name': schedule.text,
                        'description': schedule.description,
                        'banner': schedule.banner,
                        'show': true,
                    }
                    this.dayScheduleList.push(scheduleData);
                },
                scheduleDel(index) {
                    this.dayScheduleList.splice(index, 1);
                },
                scheduleClear() {
                    const data = scheduleOrgData();
                    Object.keys(data).forEach(k => this[k] = data[k]);
                },
                scheduleSubmit() {
                    this.$emit('submit', Object.assign({}, this.$data));
                    this.scheduleClear();
                    $('.scheduleModal').modal('toggle');
                },
            },
            watch: {
                //如果有送入編輯之資料
                editingData() {
                    const data = this.editingData;
                    Object.keys(data).forEach(k => this[k] = data[k]);
                }
            }
        }

        var scheduleDayComponent = {
            delimiters: ['[[', ']]'],
            props: ['day', 'dayDining', 'dayRemark', 'dayScheduleList'],
            data() {
                return {};
            },
            template: `#scheduleDayComponentHtml`,
            methods: {
                scheduleDayEdit() {
                    this.$emit('edit', this.day);
                },
                scheduleDayDel() {
                    this.$emit('del', this.day);
                }
            }
        }
    </script>
    <script>
        const dateOrgData = () => {
            return {
                dateData: {
                    dates: {
                        open: '',
                        close: '',
                        outset: '',
                    },
                    prices: [
                        {
                            name: '大人（單人房)',
                            price: '',
                        },
                        {
                            name: '大人（雙人房）',
                            price: '',
                        },
                        {
                            name: '大人（三人房）',
                            price: '',
                        },
                        {
                            name: '大人（四人房）',
                            price: '',
                        },
                        {
                            name: '小孩（未佔床）',
                            price: '',
                        },
                        {
                            name: '小孩（含床位）',
                            price: '',
                        },
                        {
                            name: '嬰兒',
                            price: '',
                        },
                    ],
                    infos: {
                        number: '',
                        remark: '',
                    }
                }
            };
        };
        var dateAddComponent = {
            delimiters: ['[[', ']]'],
            data() {
                return dateOrgData();
            },
            props: ['editingData'],
            template: `#dateAddComponentHtml`,
            methods: {
                dateClear() {
                    const data = dateOrgData();
                    Object.keys(data).forEach(k => this[k] = data[k]);
                },
                dateSubmit() {
                    this.$emit('submit', this.dateData);
                    this.dateClear();
                    $('.dateModal').modal('toggle');
                },
            },
            watch: {
                //如果有送入編輯之資料
                editingData() {
                    const data = this.editingData;
                    Object.keys(data).forEach(k => this.dateData[k] = data[k]);
                }
            }
        }

        var dateComponent = {
            delimiters: ['[[', ']]'],
            data() {
                return {}
            },
            props: ['dateData'],
            template: `#dateComponentHtml`,
            methods: {
                dateEdit() {
                    this.$emit('edit', this.dateData.id);
                },
                dateDel() {
                    this.$emit('del', this.dateData.id);
                },
            }
        }
    </script>
    <!--Vue Main-->
    <script>
        let vm = new Vue({
            delimiters: ['[[', ']]'],
            el: "#app",
            data: {
                scheduleEditing: '',
                schedulesList: [],
                dateEditing: '',
                dateList: [],
            },
            components: {
                "schedule-add-component": scheduleAddComponent,
                "schedule-day-component": scheduleDayComponent,
                "date-add-component": dateAddComponent,
                "date-component": dateComponent,
            },
            mounted() {
                CKEDITOR.replace('itemInfo');
                CKEDITOR.replace('itemRemark');
            },
            methods: {
                scheduleEditHandler(id) {
                    //填入待編輯資料
                    this.scheduleEditing = this.schedulesList.filter((scheduleDay) => scheduleDay.day == id)[0]
                    //開啟編輯視窗
                    $('.scheduleModal').modal('toggle');
                },
                scheduleDelHandler(id) {
                    this.schedulesList = this.schedulesList.filter((scheduleDay) => scheduleDay.day != id)
                },
                scheduleAddHandler(data) {
                    if (data.day) {
                        //此為編輯
                        this.schedulesList.forEach((scheduleDay) => {
                            if (scheduleDay.day == data.day) {
                                scheduleDay.dayScheduleList = data.dayScheduleList
                                scheduleDay.dayRemark = data.dayRemark
                                scheduleDay.dayDining = data.dayDining
                            }
                        })
                    } else {
                        //此為新增
                        this.schedulesList.push(data)
                    }
                    //清空編輯資料
                    this.scheduleEditing = ''
                },
                dateEditHandler(id) {
                    //填入待編輯資料
                    this.dateEditing = this.dateList.filter((date) => date.id == id)[0]
                    //開啟編輯視窗
                    $('.dateModal').modal('toggle');
                },
                dateDelHandler(id) {
                    this.dateList = this.dateList.filter((date) => date.id != id)
                },
                dateAddHandler(data) {
                    if (data.id) {
                        //此為編輯
                        this.dateList.forEach((date) => {
                            if (data.id == date.id) {
                                date.dates = data.dates
                                date.infos = data.infos
                                date.prices = data.prices
                            }
                        })
                    } else {
                        //此為新增
                        this.dateList.push(data)
                    }
                    //清空編輯資料
                    this.dateEditing = ''
                },
            },
            watch: {
                //填入數值當id
                dateList() {
                    this.dateList.forEach((date, index) => {
                        date.id = index + 1;
                    })
                },
                //填入此行程天數並當成id
                schedulesList() {
                    this.schedulesList.forEach((scheduleDay, index) => {
                        scheduleDay.day = index + 1;
                    })
                }
            }
        });
    </script>

{% endblock %}
