<div id="page-menu">
    <div id="page-menu-wrap">
        <div class="container clearfix">
            <div class="menu-title">酷客<span>商店系統</span></div>
            <nav>
                <ul>
                    <li class="current"><a href="{% url 'shop_cms' %}">
                        <div>管理行程</div>
                    </a></li>
                    <li><a href="{% url 'shop_cms_add' %}">
                        <div>行程上架</div>
                    </a></li>
                    <li><a href="#">
                        <div>行程組件</div>
                    </a></li>
                </ul>
            </nav>
            <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
        </div>
    </div>
</div>